@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
}

.content {
  margin-left: 700px;
  margin-top: 0px;
  width: 40%;
}

#myForm label {
  font-size: 18px;
}

#myForm input {
  margin: inline;
  border: 1px solid rgb(16, 31, 235);
  color: rgb(0, 0, 255);
  margin-top: 4px;
  border-radius: 20px;
  font-size: 14px;
  padding: 10px 25px;
  padding-left: 10px;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.25s;
  display: flex;
}

#myForm input::placeholder {
  color: white;
  font-size: 14px;
}

#myForm input::before {
  content: "";
}

#myForm input:focus {
  border: 3px solid white;
  width: 200px;
  border-color: #2ecc71;
}

#myForm input:hover {
  background: #2ecc71;
}

#myForm i {
  position: absolute;
  font-size: 20px;
  color: black;
  margin: 15px 0 0 -25px;
}

.address {
  margin-left: 0px;
  margin-top: 150px;
}

.address p {
  display: flex;
}

.content button {
  color: #fbfcfd;
  padding: 10px 25px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.content button:hover {
  background-color: aliceblue;
  opacity: 1;
  color: black;
}

#button:focus {
  border: 3px solid aqua;
}
