.main-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 90vh;
  top: 10vh;
}
form {
  padding: 25px;
  width: 90%;
  box-shadow: 0 2px 5px #f5f5f5;
  background: #f5f5f5;
}

form h1 {
  color: #0098c7;
  margin-bottom: 15px;
}
input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #1c87c9;
  outline: none;
  resize: none;
}
input::placeholder {
  color: rgb(114, 106, 106);
}

form button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #007dd1;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  outline: none;
}

form button:hover {
  background: #2371a0;
}

.left-part {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-link {
  width: 260px;
  text-decoration: none;
}

.main-block .icon {
  position: relative;
  display: flex;
  width: 80px;
  height: 80px;
  margin: 20px;
  border-radius: 50px;
  transition: all 0.8s;
}

.main-block .icon div {
  margin-right: 10px;
}
.main-block .icon .social-link-text {
  margin-top: 25px;
}

.left-part .icon p {
  opacity: 0;
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

.left-part .social-link:hover .icon {
  background: #1877f2;
  margin-left: 10px;
}

.left-part .social-link:hover p {
  opacity: 1;
  transform: translateX(25px);
}

.main-block .social-link:hover .icon#second {
  background-image: linear-gradient(135deg, #97abff 10%, #123597 100%);
}

.main-block .social-link:hover .icon#first {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.main-block .social-link:hover .icon#third {
  background-image: linear-gradient(135deg, #abdcff 10%, #0396ff 100%);
}

.main-block .icon i {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon p {
  text-decoration: none;
  color: #0059ff;
  font-weight: bold;
}

svg circle {
  stroke-dasharray: 150;
  transition: all 0.8s;
}

.main-block .social-link:hover .icon svg circle {
  stroke-dasharray: 220;
}

.submitted {
  background-color: aqua;
  color: #000000;
  border-radius: 5px;
  padding: 10px 20px;
  position: fixed;
  left: 50%;
  bottom: 40px;
  z-index: 1;
  transform: translate(-50%);
  visibility: hidden;
}

.submitted.show {
  visibility: visible;
  animation: anim 3s;
}

@keyframes anim {
  from {
    bottom: 60px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 30vh;
  background-color: rgba(255, 255, 255, 0.616);
  border-radius: 5px;
  opacity: 0;
  top: -20%;
  transition: all 300ms ease-in-out;
}

.popup.active {
  opacity: 1;
  top: 50%;
  transition: all 200ms ease-in-out;
}

#popup-message {
  font-size: 1.4rem;
  font-weight: bold;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border: none;
  background: #007dd1;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  outline: none;
}

.popup button:hover {
  background: #2371a0;
}
