.landing-content {
  height: 90vh;
  width: 100%;
  position: absolute;
  top: 10vh;
  overflow-y: scroll;
}

section {
  padding: 20px;
  margin-top: 30px;
  max-width: calc(100% - 15px);
}

.landing-content::-webkit-scrollbar {
  width: 12px;
}

.landing-content::-webkit-scrollbar-thumb {
  background-color: rgba(240, 248, 255, 0.5);
}
