.shop-content {
  height: 80vh;
  width: 90%;
  background-color: rgba(240, 248, 255, 0.267);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
}

section {
  padding: 20px;
  max-width: calc(100% - 15px);
}

.shop-content::-webkit-scrollbar {
  width: 12px;
}

.shop-content::-webkit-scrollbar-thumb {
  background-color: rgba(240, 248, 255, 0.5);
}
