.shop-content {
  height: 90vh;
  width: 100%;
  position: absolute;
  top: 10vh;
  overflow-y: scroll;
}

section {
  width: calc(80% - 15px);
  margin: auto;
  padding: 0%;
}

.shop-content::-webkit-scrollbar {
  width: 12px;
}

.shop-content::-webkit-scrollbar-thumb {
  background-color: rgba(240, 248, 255, 0.5);
}
.new-arrival {
  width: 100%;
  margin-top: 20px;
}
.new-arrival-products {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.product {
  width: 22%;
  background-color: rgba(240, 248, 255, 0.24);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.img-container {
  width: 80%;
  height: 70%;
  overflow: hidden;
}

img {
  width: 100%;
}

.i1 {
  width: 60%;
}

.product-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.products-banner {
  margin: 5vh 0px;
  width: 100%;
  height: 70vh;
  background-color: rgba(240, 248, 255, 0.24);
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.banner-nav {
  margin: 10px;
  width: 100px;
  height: 50px;
  border: none;
  background-color: rgba(240, 248, 255, 0.527);
  color: darkblue;
  letter-spacing: 2px;
}

.banner-display {
  display: flex;
  justify-content: space-around;
}

.banner-display .right-part {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.banner-description {
}
.banner-image-container {
  height: 50vh;
}

.banner-image-container img {
  height: 110%;
  width: auto;
  margin: auto;
}
