@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins-Regular.ttf");
}

html {
  --color-blue: rgb(0, 2, 117);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
.landing,
.gallery,
.about,
.team,
.contact,
.shop {
  height: 100vh;
  width: 100%;
  position: fixed;
}
.landing {
  background-image: linear-gradient(135deg, #abdcff 10%, #0396ff 100%);
  transform: translateX(0%);
}
.about {
  background-image: linear-gradient(135deg, #e2b0ff 10%, #9f44d3 100%);
  transform: translateX(100%);
}
.team {
  background-image: linear-gradient(315deg, #fbda61 0%, #ff5acd 100%);
  transform: translateX(200%);
}
.contact {
  background-image: linear-gradient(135deg, #fdd819 10%, #e80505 100%);
  transform: translateX(300%);
}
.shop {
  background-image: linear-gradient(135deg, #feb692 10%, #ea5455 100%);
  transform: translateX(400%);
}
header {
  position: fixed;
  height: 13vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(240, 248, 255, 0.527);
  z-index: 100;
  transition: all 100ms ease-in-out;
}

.nav-container {
  width: 100%;
}
nav {
  width: 100%;
  transition: all 0ms ease-in-out;
}
.nav-links,
li {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  cursor: pointer;
}

#current {
  font-weight: bold;
}

.nav-link {
  color: var(--color-blue);
  transition: all 100ms ease-in-out;
}

.nav-link:hover {
  font-size: 1.2rem;
  font-weight: bold;
}

#shop {
  padding: 5px 10px;
  background-color: #ffffff65;
  color: var(--color-blue);
  transition: all 100ms ease-in-out;
}

#shop:hover {
  background-color: #ffffffc9;
}

.fa-shopping-cart {
  color: var(--color-blue);
  margin-left: 5px;
}

.active {
  font-weight: bold;
}

.intro {
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgb(1, 0, 31);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.slider {
  position: fixed;
  top: 0;
  left: 0%;
  background-color: rgb(87, 100, 128);
  width: 100%;
  height: 100%;
  transform: translate(0%, 100%);
}

.intro-text {
  font-size: 2.2rem;
}

.intro-text h1,
.intro-text h2 {
  color: aliceblue;
}

.hide {
  background-color: rgb(1, 0, 31);
  overflow: hidden;
}

.hide span {
  transform: translateY(150%);
  display: inline-block;
}
.banner {
  width: 100%;
}
